# Abiodun SQL Assessment

## Loading necessary libraries

In [2]:
# Loading sqlite3, pandas and loading the accident data
import sqlite3 
import pandas as pd
con = sqlite3.connect("accident_data_v1.0.0_2023.db") 
cur = con.cursor()
cur

## Extraction of Information about Each Table

In [3]:
# Executing a PRAGMA query to retrieve information about the columns in the "accident" table
col_info = cur.execute(f"PRAGMA table_info(accident)")

# Fetching all the results of the query and storing them in the variable 'accident'
accident = col_info.fetchall()

In [4]:
accident

[(0, 'accident_index', '', 0, None, 1),
 (1, 'accident_year', '', 0, None, 0),
 (2, 'accident_reference', '', 0, None, 0),
 (3, 'location_easting_osgr', '', 0, None, 0),
 (4, 'location_northing_osgr', '', 0, None, 0),
 (5, 'longitude', '', 0, None, 0),
 (6, 'latitude', '', 0, None, 0),
 (7, 'police_force', '', 0, None, 0),
 (8, 'accident_severity', '', 0, None, 0),
 (9, 'number_of_vehicles', '', 0, None, 0),
 (10, 'number_of_casualties', '', 0, None, 0),
 (11, 'date', '', 0, None, 0),
 (12, 'day_of_week', '', 0, None, 0),
 (13, 'time', '', 0, None, 0),
 (14, 'local_authority_district', '', 0, None, 0),
 (15, 'local_authority_ons_district', '', 0, None, 0),
 (16, 'local_authority_highway', '', 0, None, 0),
 (17, 'first_road_class', '', 0, None, 0),
 (18, 'first_road_number', '', 0, None, 0),
 (19, 'road_type', '', 0, None, 0),
 (20, 'speed_limit', '', 0, None, 0),
 (21, 'junction_detail', '', 0, None, 0),
 (22, 'junction_control', '', 0, None, 0),
 (23, 'second_road_class', '', 0, None, 0),
 (24, 'second_road_number', '', 0, None, 0),
 (25, 'pedestrian_crossing_human_control', '', 0, None, 0),
 (26, 'pedestrian_crossing_physical_facilities', '', 0, None, 0),
 (27, 'light_conditions', '', 0, None, 0),
 (28, 'weather_conditions', '', 0, None, 0),
 (29, 'road_surface_conditions', '', 0, None, 0),
 (30, 'special_conditions_at_site', '', 0, None, 0),
 (31, 'carriageway_hazards', '', 0, None, 0),
 (32, 'urban_or_rural_area', '', 0, None, 0),
 (33, 'did_police_officer_attend_scene_of_accident', '', 0, None, 0),
 (34, 'trunk_road_flag', '', 0, None, 0),
 (35, 'lsoa_of_accident_location', '', 0, None, 0)]

In [5]:
# Executing a PRAGMA query to retrieve information about the columns in the 'vehicle' table
col_info = cur.execute(f"PRAGMA table_info(casualty)") 
# Fetching all the column information for the 'vehicle' table
vehicle = col_info.fetchall()

In [6]:
vehicle

[(0, 'casualty_index', '', 0, None, 1),
 (1, 'accident_index', '', 0, None, 0),
 (2, 'accident_year', '', 0, None, 0),
 (3, 'accident_reference', '', 0, None, 0),
 (4, 'vehicle_reference', '', 0, None, 0),
 (5, 'casualty_reference', '', 0, None, 0),
 (6, 'casualty_class', '', 0, None, 0),
 (7, 'sex_of_casualty', '', 0, None, 0),
 (8, 'age_of_casualty', '', 0, None, 0),
 (9, 'age_band_of_casualty', '', 0, None, 0),
 (10, 'casualty_severity', '', 0, None, 0),
 (11, 'pedestrian_location', '', 0, None, 0),
 (12, 'pedestrian_movement', '', 0, None, 0),
 (13, 'car_passenger', '', 0, None, 0),
 (14, 'bus_or_coach_passenger', '', 0, None, 0),
 (15, 'pedestrian_road_maintenance_worker', '', 0, None, 0),
 (16, 'casualty_type', '', 0, None, 0),
 (17, 'casualty_home_area_type', '', 0, None, 0),
 (18, 'casualty_imd_decile', '', 0, None, 0)]

In [7]:
# Executing a PRAGMA query to retrieve information about the columns in the 'casualty' table
col_info = cur.execute(f"PRAGMA table_info(casualty)") 
# Fetching all the column information for the 'casualty' table
casualty = col_info.fetchall()

In [8]:
casualty

[(0, 'casualty_index', '', 0, None, 1),
 (1, 'accident_index', '', 0, None, 0),
 (2, 'accident_year', '', 0, None, 0),
 (3, 'accident_reference', '', 0, None, 0),
 (4, 'vehicle_reference', '', 0, None, 0),
 (5, 'casualty_reference', '', 0, None, 0),
 (6, 'casualty_class', '', 0, None, 0),
 (7, 'sex_of_casualty', '', 0, None, 0),
 (8, 'age_of_casualty', '', 0, None, 0),
 (9, 'age_band_of_casualty', '', 0, None, 0),
 (10, 'casualty_severity', '', 0, None, 0),
 (11, 'pedestrian_location', '', 0, None, 0),
 (12, 'pedestrian_movement', '', 0, None, 0),
 (13, 'car_passenger', '', 0, None, 0),
 (14, 'bus_or_coach_passenger', '', 0, None, 0),
 (15, 'pedestrian_road_maintenance_worker', '', 0, None, 0),
 (16, 'casualty_type', '', 0, None, 0),
 (17, 'casualty_home_area_type', '', 0, None, 0),
 (18, 'casualty_imd_decile', '', 0, None, 0)]

In [9]:
# Executing a PRAGMA query to get information about the columns in the 'lsoa' table
col_info = cur.execute(f"PRAGMA table_info(lsoa)")

# Fetching all the column information from the executed query
lsoa = col_info.fetchall()

In [10]:
lsoa

[(0, 'objectid', '', 0, None, 1),
 (1, 'lsoa01cd', '', 0, None, 0),
 (2, 'lsoa01nm', '', 0, None, 0),
 (3, 'lsoa01nmw', '', 0, None, 0),
 (4, 'shape__area', '', 0, None, 0),
 (5, 'shape__length', '', 0, None, 0),
 (6, 'globalid', '', 0, None, 0)]

In [11]:
# Reading data from the 'accident' table in the database using a SQL query
accident_df = pd.read_sql_query('SELECT * FROM accident', con)

In [12]:
accident_df

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2017010001708,2017,010001708,532920.0,196330.0,-0.080107,51.650061,1,1,2,...,0,4,1,1,0,0,1,1,2,E01001450
1,2017010009342,2017,010009342,526790.0,181970.0,-0.173845,51.522425,1,3,2,...,0,4,1,2,0,0,1,1,2,E01004702
2,2017010009344,2017,010009344,535200.0,181260.0,-0.052969,51.514096,1,3,3,...,0,4,1,1,0,0,1,1,2,E01004298
3,2017010009348,2017,010009348,534340.0,193560.0,-0.060658,51.624832,1,3,2,...,4,4,2,2,0,0,1,1,2,E01001429
4,2017010009350,2017,010009350,533680.0,187820.0,-0.072372,51.573408,1,2,1,...,5,4,1,2,0,0,1,1,2,E01001808
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
461347,2020991027064,2020,991027064,343034.0,731654.0,-2.926320,56.473539,99,2,2,...,0,1,1,1,0,0,1,1,-1,-1
461348,2020991029573,2020,991029573,257963.0,658891.0,-4.267565,55.802353,99,3,1,...,0,1,1,1,0,0,1,2,-1,-1
461349,2020991030297,2020,991030297,383664.0,810646.0,-2.271903,57.186317,99,2,2,...,0,1,1,1,0,0,2,1,-1,-1
461350,2020991030900,2020,991030900,277161.0,674852.0,-3.968753,55.950940,99,3,2,...,0,1,1,1,0,0,1,2,-1,-1
461351,2020991032575,2020,991032575,240402.0,681950.0,-4.561040,56.003843,99,3,1,...,0,1,1,1,0,2,1,1,-1,-1

In [13]:
# Reading data from the 'vehicle' table in the database using a SQL query
vehicle_df = pd.read_sql_query('SELECT * FROM vehicle', con)

In [14]:
vehicle_df

,vehicle_index,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,...,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type
0,0,2017010001708,2017,010001708,1,9,0,18,1,5,...,6,1,24,5,1997,2,1,-1,-1,-1
1,1,2017010001708,2017,010001708,2,2,0,18,1,5,...,6,1,19,4,-1,-1,-1,-1,-1,-1
2,2,2017010009342,2017,010009342,1,9,0,18,5,1,...,6,1,33,6,1797,8,8,-1,9,1
3,3,2017010009342,2017,010009342,2,9,0,18,5,1,...,6,1,40,7,2204,2,12,-1,2,1
4,4,2017010009344,2017,010009344,1,9,0,18,3,7,...,6,3,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
849086,849086,2020991030297,2020,991030297,1,9,0,7,8,2,...,1,1,57,9,1968,2,2,AUDI A5,7,1
849087,849087,2020991030297,2020,991030297,2,5,0,16,6,2,...,5,1,38,7,1301,1,2,KTM 1290 SUPERDUKE,9,2
849088,849088,2020991030900,2020,991030900,1,9,0,7,8,2,...,6,2,68,10,1995,2,1,BMW X3,5,1
849089,849089,2020991030900,2020,991030900,2,1,0,18,6,2,...,6,1,76,11,-1,-1,-1,-1,9,1
849090,849090,2020991032575,2020,991032575,1,9,0,1,8,4,...,6,1,39,7,999,1,2,FORD FOCUS,7,1

In [15]:
# Reading data from the 'casualty' table in the database using a SQL query
casualty_df = pd.read_sql_query('SELECT * FROM casualty', con)

In [16]:
casualty_df

,casualty_index,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,0,2017010001708,2017,010001708,1,1,2,2,18,4,3,0,0,1,0,0,9,1,2
1,1,2017010001708,2017,010001708,2,2,1,1,19,4,2,0,0,0,0,0,2,-1,-1
2,2,2017010001708,2017,010001708,2,3,2,1,18,4,1,0,0,0,0,0,2,-1,-1
3,3,2017010009342,2017,010009342,1,1,2,2,33,6,3,0,0,1,0,0,9,1,5
4,4,2017010009344,2017,010009344,3,1,1,2,31,6,3,0,0,0,0,0,9,1,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
600327,600327,2020991027064,2020,991027064,2,1,1,1,11,3,2,0,0,0,0,0,1,1,2
600328,600328,2020991029573,2020,991029573,1,1,3,2,63,9,3,10,1,0,0,0,0,1,10
600329,600329,2020991030297,2020,991030297,2,1,1,1,38,7,2,0,0,0,0,0,5,2,9
600330,600330,2020991030900,2020,991030900,2,1,1,1,76,11,3,0,0,0,0,0,1,1,9
600331,600331,2020991032575,2020,991032575,1,1,3,1,48,8,3,9,9,0,0,0,0,1,1

In [17]:
# Reading data from the 'lsoa' table in the database using a SQL query
lsoa_df = pd.read_sql_query('SELECT * FROM lsoa', con)

In [18]:
lsoa_df

,objectid,lsoa01cd,lsoa01nm,lsoa01nmw,shape__area,shape__length,globalid
0,1,E01000001,City of London 001A,City of London 001A,1.298652e+05,2635.772001,68cc6127-1008-4fbe-a16c-78fb089a7c43
1,2,E01000002,City of London 001B,City of London 001B,2.284189e+05,2707.986202,937edbc3-c1bf-4d35-b274-b0a1480a7c09
2,3,E01000003,City of London 001C,City of London 001C,5.905477e+04,1224.774479,2686dcaf-10b9-4736-92af-4788d4feaa69
3,4,E01000004,City of London 001D,City of London 001D,2.544551e+06,10718.466240,3c493140-0b3f-4b9a-b358-22011dc5fb89
4,5,E01000005,City of London 001E,City of London 001E,1.895782e+05,2275.809358,b569093d-788d-41be-816c-d6d7658b2311
...,...,...,...,...,...,...,...
34373,34374,W01001892,Cardiff 020D,Caerdydd 020D,2.699088e+05,2537.220060,1a25aa1e-5db5-4d32-8355-473409dbd69f
34374,34375,W01001893,Cardiff 010B,Caerdydd 010B,4.288488e+06,9807.284401,b6af5e24-eb2a-404a-98a6-a282037b3e10
34375,34376,W01001894,Cardiff 010C,Caerdydd 010C,3.337511e+05,2929.546177,72d16f53-115d-4926-936d-2f1b1d659d46
34376,34377,W01001895,Cardiff 010D,Caerdydd 010D,1.360174e+06,8141.281226,8e105eb9-f68e-4cdb-bca6-b49f6592cb71
34377,34378,W01001896,Cardiff 020E,Caerdydd 020E,3.124395e+05,3823.366435,c885f171-a56e-4e2b-8d09-1c7d6efedd67

## Extracting the 2020 Data for Accident, Vehicle and Casualty

In [20]:
# Extracting the year 2020 accident Cases
accident_2020 = pd.read_sql_query("SELECT * FROM accident WHERE accident_year = 2020", con)
accident_2020

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2020010219808,2020,010219808,521389.0,175144.0,-0.254001,51.462262,1,3,1,...,9,1,9,9,0,0,1,3,2,E01004576
1,2020010220496,2020,010220496,529337.0,176237.0,-0.139253,51.470327,1,3,1,...,4,1,1,1,0,0,1,1,2,E01003034
2,2020010228005,2020,010228005,526432.0,182761.0,-0.178719,51.529614,1,3,1,...,0,4,1,2,0,0,1,1,2,E01004726
3,2020010228006,2020,010228006,538676.0,184371.0,-0.001683,51.541210,1,2,1,...,4,4,1,1,0,0,1,1,2,E01003617
4,2020010228011,2020,010228011,529324.0,181286.0,-0.137592,51.515704,1,3,1,...,0,4,1,1,0,0,1,1,2,E01004763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91194,2020991027064,2020,991027064,343034.0,731654.0,-2.926320,56.473539,99,2,2,...,0,1,1,1,0,0,1,1,-1,-1
91195,2020991029573,2020,991029573,257963.0,658891.0,-4.267565,55.802353,99,3,1,...,0,1,1,1,0,0,1,2,-1,-1
91196,2020991030297,2020,991030297,383664.0,810646.0,-2.271903,57.186317,99,2,2,...,0,1,1,1,0,0,2,1,-1,-1
91197,2020991030900,2020,991030900,277161.0,674852.0,-3.968753,55.950940,99,3,2,...,0,1,1,1,0,0,1,2,-1,-1
91198,2020991032575,2020,991032575,240402.0,681950.0,-4.561040,56.003843,99,3,1,...,0,1,1,1,0,2,1,1,-1,-1

In [22]:
# Extracting the year 2020 vehicle Cases
vehicle_2020 = pd.read_sql_query("SELECT * FROM vehicle WHERE accident_year = 2020", con)
vehicle_2020

,vehicle_index,accident_index,accident_year,accident_reference,vehicle_reference,vehicle_type,towing_and_articulation,vehicle_manoeuvre,vehicle_direction_from,vehicle_direction_to,...,journey_purpose_of_driver,sex_of_driver,age_of_driver,age_band_of_driver,engine_capacity_cc,propulsion_code,age_of_vehicle,generic_make_model,driver_imd_decile,driver_home_area_type
0,681716,2020010219808,2020,010219808,1,9,9,5,1,5,...,6,2,32,6,1968,2,6,AUDI Q5,4,1
1,681717,2020010220496,2020,010220496,1,9,0,4,2,6,...,2,1,45,7,1395,1,2,AUDI A1,7,1
2,681718,2020010228005,2020,010228005,1,9,0,18,-1,-1,...,6,3,-1,-1,-1,-1,-1,-1,-1,-1
3,681719,2020010228006,2020,010228006,1,8,0,18,1,5,...,1,1,44,7,1798,8,8,TOYOTA PRIUS,2,1
4,681720,2020010228011,2020,010228011,1,9,0,18,3,7,...,6,1,20,4,2993,2,4,BMW 4 SERIES,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
167370,849086,2020991030297,2020,991030297,1,9,0,7,8,2,...,1,1,57,9,1968,2,2,AUDI A5,7,1
167371,849087,2020991030297,2020,991030297,2,5,0,16,6,2,...,5,1,38,7,1301,1,2,KTM 1290 SUPERDUKE,9,2
167372,849088,2020991030900,2020,991030900,1,9,0,7,8,2,...,6,2,68,10,1995,2,1,BMW X3,5,1
167373,849089,2020991030900,2020,991030900,2,1,0,18,6,2,...,6,1,76,11,-1,-1,-1,-1,9,1
167374,849090,2020991032575,2020,991032575,1,9,0,1,8,4,...,6,1,39,7,999,1,2,FORD FOCUS,7,1

In [23]:
# Extracting the year 2020 casualty Cases
casualty_2020 = pd.read_sql_query("SELECT * FROM casualty WHERE accident_year = 2020", con)
casualty_2020

,casualty_index,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,484748,2020010219808,2020,010219808,1,1,3,1,31,6,3,9,5,0,0,0,0,1,4
1,484749,2020010220496,2020,010220496,1,1,3,2,2,1,3,1,1,0,0,0,0,1,2
2,484750,2020010220496,2020,010220496,1,2,3,2,4,1,3,1,1,0,0,0,0,1,2
3,484751,2020010228005,2020,010228005,1,1,3,1,23,5,3,5,9,0,0,0,0,1,3
4,484752,2020010228006,2020,010228006,1,1,3,1,47,8,2,4,1,0,0,0,0,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115579,600327,2020991027064,2020,991027064,2,1,1,1,11,3,2,0,0,0,0,0,1,1,2
115580,600328,2020991029573,2020,991029573,1,1,3,2,63,9,3,10,1,0,0,0,0,1,10
115581,600329,2020991030297,2020,991030297,2,1,1,1,38,7,2,0,0,0,0,0,5,2,9
115582,600330,2020991030900,2020,991030900,2,1,1,1,76,11,3,0,0,0,0,0,1,1,9
115583,600331,2020991032575,2020,991032575,1,1,3,1,48,8,3,9,9,0,0,0,0,1,1

## Data EDA and Cleaning

In [24]:
accident_2020.info() # Checking for missing value in Accident Table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 91199 entries, 0 to 91198
Data columns (total 36 columns):
 #   Column                                       Non-Null Count  Dtype
---  ------                                       --------------  -----
 0   accident_index                               91199 non-null  object
 1   accident_year                                91199 non-null  int64
 2   accident_reference                           91199 non-null  object
 3   location_easting_osgr                        91185 non-null  float64
 4   location_northing_osgr                       91185 non-null  float64
 5   longitude                                    91185 non-null  float64
 6   latitude                                     91185 non-null  float64
 7   police_force                                 91199 non-null  int64
 8   accident_severity                            91199 non-null  int64
 9   number_of_vehicles                           91199 non-null  int64
 10  number_of_casualties                         91199 non-null  int64
 11  date                                         91199 non-null  object
 12  day_of_week                                  91199 non-null  int64
 13  time                                         91199 non-null  object
 14  local_authority_district                     91199 non-null  int64
 15  local_authority_ons_district                 91199 non-null  object
 16  local_authority_highway                      91199 non-null  object
 17  first_road_class                             91199 non-null  int64
 18  first_road_number                            91199 non-null  int64
 19  road_type                                    91199 non-null  int64
 20  speed_limit                                  91199 non-null  int64
 21  junction_detail                              91199 non-null  int64
 22  junction_control                             91199 non-null  int64
 23  second_road_class                            91199 non-null  int64
 24  second_road_number                           91199 non-null  int64
 25  pedestrian_crossing_human_control            91199 non-null  int64
 26  pedestrian_crossing_physical_facilities      91199 non-null  int64
 27  light_conditions                             91199 non-null  int64
 28  weather_conditions                           91199 non-null  int64
 29  road_surface_conditions                      91199 non-null  int64
 30  special_conditions_at_site                   91199 non-null  int64
 31  carriageway_hazards                          91199 non-null  int64
 32  urban_or_rural_area                          91199 non-null  int64
 33  did_police_officer_attend_scene_of_accident  91199 non-null  int64
 34  trunk_road_flag                              91199 non-null  int64
 35  lsoa_of_accident_location                    91199 non-null  object
dtypes: float64(4), int64(25), object(7)
memory usage: 25.0+ MB

#### There are missing values in the accident table 
#### 3  location_easting_osgr 91185 non-null  float64
#### 4  location_northing_osgr 91185 non-null  float64
#### 5  longitude 91185 non-null  float64
#### 6  latitude 91185 non-null  float64

In [24]:
vehicle_2020.info() # Checking for missing value in Vehicle Table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 167375 entries, 0 to 167374
Data columns (total 28 columns):
 #   Column                            Non-Null Count   Dtype
---  ------                            --------------   -----
 0   vehicle_index                     167375 non-null  int64
 1   accident_index                    167375 non-null  object
 2   accident_year                     167375 non-null  int64
 3   accident_reference                167375 non-null  object
 4   vehicle_reference                 167375 non-null  int64
 5   vehicle_type                      167375 non-null  int64
 6   towing_and_articulation           167375 non-null  int64
 7   vehicle_manoeuvre                 167375 non-null  int64
 8   vehicle_direction_from            167375 non-null  int64
 9   vehicle_direction_to              167375 non-null  int64
 10  vehicle_location_restricted_lane  167375 non-null  int64
 11  junction_location                 167375 non-null  int64
 12  skidding_and_overturning          167375 non-null  int64
 13  hit_object_in_carriageway         167375 non-null  int64
 14  vehicle_leaving_carriageway       167375 non-null  int64
 15  hit_object_off_carriageway        167375 non-null  int64
 16  first_point_of_impact             167375 non-null  int64
 17  vehicle_left_hand_drive           167375 non-null  int64
 18  journey_purpose_of_driver         167375 non-null  int64
 19  sex_of_driver                     167375 non-null  int64
 20  age_of_driver                     167375 non-null  int64
 21  age_band_of_driver                167375 non-null  int64
 22  engine_capacity_cc                167375 non-null  int64
 23  propulsion_code                   167375 non-null  int64
 24  age_of_vehicle                    167375 non-null  int64
 25  generic_make_model                167375 non-null  object
 26  driver_imd_decile                 167375 non-null  int64
 27  driver_home_area_type             167375 non-null  int64
dtypes: int64(25), object(3)
memory usage: 35.8+ MB

### No missing values in Vehicle Table

In [25]:
casualty_2020.info() # Checking for missing value in Casualty Table

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115584 entries, 0 to 115583
Data columns (total 19 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   casualty_index                      115584 non-null  int64
 1   accident_index                      115584 non-null  object
 2   accident_year                       115584 non-null  int64
 3   accident_reference                  115584 non-null  object
 4   vehicle_reference                   115584 non-null  int64
 5   casualty_reference                  115584 non-null  int64
 6   casualty_class                      115584 non-null  int64
 7   sex_of_casualty                     115584 non-null  int64
 8   age_of_casualty                     115584 non-null  int64
 9   age_band_of_casualty                115584 non-null  int64
 10  casualty_severity                   115584 non-null  int64
 11  pedestrian_location                 115584 non-null  int64
 12  pedestrian_movement                 115584 non-null  int64
 13  car_passenger                       115584 non-null  int64
 14  bus_or_coach_passenger              115584 non-null  int64
 15  pedestrian_road_maintenance_worker  115584 non-null  int64
 16  casualty_type                       115584 non-null  int64
 17  casualty_home_area_type             115584 non-null  int64
 18  casualty_imd_decile                 115584 non-null  int64
dtypes: int64(17), object(2)
memory usage: 16.8+ MB

### No missing values in Casualty table

### lsoa has no year information (from the DataFrame above) so it was left out.

In [25]:
# Assuming your dataset has columns: 'Date', 'Fatal', and 'Nonfatal'
# You may need to adjust column names accordingly

# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Extracting day of the week (0 = Monday, 6 = Sunday)
df['DayOfWeek'] = df['Date'].dt.dayofweek

# Extracting hour of the day
df['HourOfDay'] = df['Date'].dt.hour

# Filtering fatal and nonfatal accidents
fatal_accidents = df[df['Fatal'] == 1]
nonfatal_accidents = df[df['Fatal'] == 0]

# Plotting fatal accidents by day of the week
fatal_by_day = fatal_accidents.groupby('DayOfWeek')['Fatal'].sum()
fatal_by_day.plot(kind='bar', title='Fatal Accidents by Day of the Week')
plt.xlabel('Day of the Week')
plt.ylabel('Number of Fatal Accidents')
plt.xticks(range(7), ['Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun'])
plt.show()

# Plotting nonfatal accidents by hour of the day
nonfatal_by_hour = nonfatal_accidents.groupby('HourOfDay')['Nonfatal'].sum()
nonfatal_by_hour.plot(kind='bar', title='Nonfatal Accidents by Hour of the Day')
plt.xlabel('Hour of the Day')
plt.ylabel('Number of Nonfatal Accidents')
plt.xticks(range(24))
plt.show()

NameError: name 'df' is not defined

## Extracting the oldest driver age

In [26]:
oldest_age = cur.execute("SELECT MAX(age_of_casualty) AS oldest_driver_age FROM casualty")
max_age = oldest_age.fetchall()
max_age

[(102,)]

## Extracting total number of vehicles with number 19

In [27]:
vehicle_type = cur.execute("SELECT COUNT(*) FROM vehicle WHERE vehicle_type = 19")
num_vehicles = vehicle_type.fetchall()
num_vehicles

[(47458,)]

In [28]:
if isinstance(accident_2020, pd.DataFrame):
    print('accident_2020 is a DataFrame')
else:
    print('Not a DataFrame')

accident_2020 is a DataFrame

In [29]:
all_query = """
            SELECT l.lsoa01cd, l.lsoa01nm, a.accident_index, a.sex_of_driver, c.sex_of_casualty, v.speed_limit, v.age_of_vehicle
            FROM accident a
            INNER JOIN lsoa l ON a.lsoa_of_accident = l.lsoa01cd
            INNER JOIN casualty c ON a.accident_index = c.accident_index
            INNER JOIN vehicle v ON a.accident_index = v.accident_index
            WHERE l.lsoa01nm LIKE '%Kingston Upon Hull%'
            """

# Execute the SQL query
cur.execute(sql_query)

# Fetch all the results
results = cur.fetchall()

# Convert the results into a pandas DataFrame
columns = ['LSOA Code', 'LSOA Name', 'Accident Index', 'Sex of Driver', 'Sex of Casualty', 'Speed Limit', 'Age of Vehicle']
df = pd.DataFrame(results, columns=columns)

# Display the DataFrame
print(df)

NameError: name 'sql_query' is not defined

In [ ]:
# Define your SQL query
all_query = """
            SELECT l.lsoa01cd, l.lsoa01nm, a.accident_index, a.sex_of_driver, c.sex_of_casualty, v.speed_limit, v.age_of_vehicle
            FROM accident a
            INNER JOIN lsoa l ON a.lsoa_of_accident = l.lsoa01cd
            INNER JOIN casualty c ON a.accident_index = c.accident_index
            INNER JOIN vehicle v ON a.accident_index = v.accident_index
            WHERE l.lsoa01nm LIKE '%Kingston Upon Hull%'
            """

# Execute the SQL query
cur.execute(all_query)

# Fetch all the results
results = cur.fetchall()

# Convert the results into a pandas DataFrame
columns = ['LSOA Code', 'LSOA Name', 'Accident Index', 'Sex of Driver', 'Sex of Casualty', 'Speed Limit', 'Age of Vehicle']
df = pd.DataFrame(results, columns=columns)

# Display the DataFrame
print(df)

In [30]:
to = cur.execute(SELECT l.lsoa01cd, l.lsoa01nm, a.accident_index, a.sex_of_driver, c.sex_of_casualty, v.speed_limit, v.age_of_vehicle
            FROM accident AS a
            INNER JOIN lsoa AS l ON a.lsoa_of_accident = l.lsoa01cd
            INNER JOIN casualty AS c ON a.accident_index = c.accident_index
            INNER JOIN vehicle AS v ON a.accident_index = v.accident_index
            WHERE l.lsoa01nm LIKE %Kingston Upon Hull%;

SyntaxError: invalid syntax. Perhaps you forgot a comma? (1720822776.py, line 1)

In [31]:
# Fetching all the results
results = cur.fetchall()

# Converting the results into a pandas DataFrame
columns = ['LSOA Code', 'LSOA Name', 'Accident Index', 'Sex of Driver', 'Sex of Casualty', 'Speed Limit', 'Age of Vehicle']
df = pd.DataFrame(results, columns=columns)

In [32]:
accident_df = pd.read_sql_query('SELECT * FROM accident where accident_year == 2020' , con) # Extracting 2020 data

In [33]:
display(accident_df)

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2020010219808,2020,010219808,521389.0,175144.0,-0.254001,51.462262,1,3,1,...,9,1,9,9,0,0,1,3,2,E01004576
1,2020010220496,2020,010220496,529337.0,176237.0,-0.139253,51.470327,1,3,1,...,4,1,1,1,0,0,1,1,2,E01003034
2,2020010228005,2020,010228005,526432.0,182761.0,-0.178719,51.529614,1,3,1,...,0,4,1,2,0,0,1,1,2,E01004726
3,2020010228006,2020,010228006,538676.0,184371.0,-0.001683,51.541210,1,2,1,...,4,4,1,1,0,0,1,1,2,E01003617
4,2020010228011,2020,010228011,529324.0,181286.0,-0.137592,51.515704,1,3,1,...,0,4,1,1,0,0,1,1,2,E01004763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
91194,2020991027064,2020,991027064,343034.0,731654.0,-2.926320,56.473539,99,2,2,...,0,1,1,1,0,0,1,1,-1,-1
91195,2020991029573,2020,991029573,257963.0,658891.0,-4.267565,55.802353,99,3,1,...,0,1,1,1,0,0,1,2,-1,-1
91196,2020991030297,2020,991030297,383664.0,810646.0,-2.271903,57.186317,99,2,2,...,0,1,1,1,0,0,2,1,-1,-1
91197,2020991030900,2020,991030900,277161.0,674852.0,-3.968753,55.950940,99,3,2,...,0,1,1,1,0,0,1,2,-1,-1
91198,2020991032575,2020,991032575,240402.0,681950.0,-4.561040,56.003843,99,3,1,...,0,1,1,1,0,2,1,1,-1,-1

In [34]:
# Replacing all NaN values with 'Unknown'
# accident_df.fillna('Unknown', inplace=True)
accident_df_drop=accident_df.dropna()

In [35]:
accident_df_drop.isnull().sum()

accident_index                                 0
accident_year                                  0
accident_reference                             0
location_easting_osgr                          0
location_northing_osgr                         0
longitude                                      0
latitude                                       0
police_force                                   0
accident_severity                              0
number_of_vehicles                             0
number_of_casualties                           0
date                                           0
day_of_week                                    0
time                                           0
local_authority_district                       0
local_authority_ons_district                   0
local_authority_highway                        0
first_road_class                               0
first_road_number                              0
road_type                                      0
speed_limit                                    0
junction_detail                                0
junction_control                               0
second_road_class                              0
second_road_number                             0
pedestrian_crossing_human_control              0
pedestrian_crossing_physical_facilities        0
light_conditions                               0
weather_conditions                             0
road_surface_conditions                        0
special_conditions_at_site                     0
carriageway_hazards                            0
urban_or_rural_area                            0
did_police_officer_attend_scene_of_accident    0
trunk_road_flag                                0
lsoa_of_accident_location                      0
dtype: int64

In [36]:
a_severity = pd.get_dummies(accident_df.accident_severity, prefix="severity")

In [ ]:
a_severity

In [ ]:
a_severity = pd.get_dummies(accident_df.accident_severity, prefix="severity", dtype=int)

In [ ]:
a_severity

In [ ]:
s_severity = pd.get_dummies(accident_df.speed_limit, prefix="speed", dtype=int)

In [ ]:
s_severity

In [ ]:
w_severity = pd.get_dummies(accident_df.weather_conditions, prefix="weather", dtype=int)

In [ ]:
w_severity

In [ ]:
df_onehot_encode = pd.concat([a_severity, s_severity, w_severity], axis=1)
df_onehot_encode

In [ ]:
apriori(df_onehot_encode, min_support=0.2, use_colnames=True)

In [ ]:
# Workshop 5
accident_df.isna().any()

In [ ]:
from sklearn.cluster import KMeans
import numpy as np
X = np.array(list(zip(accident_df_drop['latitude'],accident_df_drop['longitude'])))
print(X)
#X = X.reshape(-1,1)
#print(X)
kmeans = KMeans(n_clusters=25, random_state=42).fit(X)

In [ ]:
accident_df

In [ ]:
accident_df_drop

In [ ]:
kmeans.labels_
kmeans.predict(X)
kmeans.cluster_centers_

In [ ]:
import matplotlib.pyplot as plt

fig=plt.figure(figsize=(9,7))
plt.scatter(accident_df_drop['longitude'],accident_df_drop['latitude'],s=1)
plt.scatter(kmeans.cluster_centers_[:,1],kmeans.cluster_centers_[:,0],marker='*',c='red')